<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Average Rating</dt>
          <% if !@product.reviews.empty? %>
            <dd><%= ((average_rating * 100).floor.to_f / 100) %> / 5</dd>
          <% else %>
            <dd> <%= "No ratings yet!" %></dd>
          <% end %>
        </dl>
      </div>
    </div>
    <div> 
      <div>
        <br>
        <h3>New Review</h3>
        <% if current_user %>
          <%= form_for([@product, @product.reviews.create], class: 'form-group') do |f| %>
            <div>
              <%= f.select :rating, options_for_select([["Select Rating", ""], 1, 2, 3, 4, 5]) %>
              <%= f.label :description %>
                <div>
                  <%= f.text_area :description %>
                </div>
              <%= f.submit class: 'btn btn-sm btn-success' %>
            </div>
          <% end %>
        <% end %>
        <br>
      </div>
      <h1>
        <b>Reviews</b>
      </h1>
      <div>
        <% @reviews.each do |review| %>
          <h2 style="display: inline;">
            <b><%= User.find(review.user_id).first_name %>:</b>
          </h2>
          <h4 style="display: inline;">
            <% empty = 5 - review.rating %>
            <% empty.times do %>
              <i class="far fa-star" style="font-size: 1.6em; float: right;"></i>
            <% end %>
            <% review.rating.times do  %>
              <i class="fas fa-star" style="font-size: 1.6em; float: right;"></i>
            <% end %>
          </h4>
          <p style="max-width: 80%">
            <%= review.description %>
          </p>
          <% if current_user && current_user.id == review.user_id %>
            <%= link_to "Delete Review", [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          <br>
          <br>
        <% end %>
      </div>
    </div>
  </article>
</section>
